
<style type="text/css" media="screen">
.gr_grid_container {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  align-items: flex-start;
}

.gr_grid_book_container {
  width: 39px;
  height: 60px;
  padding: 0;
  overflow: hidden;
}

.gr_grid_book_container img {
  width: 39px;
  height: 60px;
  object-fit: cover;
}

.gr_grid_branding {
  display: none !important;
}
</style>

<div id="gr_grid_widget_1780598748"></div>

<script
  src="https://www.goodreads.com/review/grid_widget/65327213.Mohit's%20currently-reading%20book%20montage?cover_size=small&hide_link=true&hide_title=true&num_books=20&order=a&shelf=currently-reading&sort=date_added&widget_id=1780598748"
  type="text/javascript"
  charset="utf-8"
></script>